<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.itboot.rest.repository.FollowMapper">
	
	
	<select id="findByAllFollowing"  resultType="Follow" parameterType="Long">
		SELECT * from follows where following_id = #{userId}
	</select>
	
	<insert id="following">
		insert into follows (following_id, follower_id) values (#{followingId}, #{followerId})
	</insert>
	
</mapper>